<h1>Password reset</h1>

<p>
  A password reset was requested for an account registered with this email address. To reset your password, please open the following link:
</p>

<p>
  <a href="<%= auth_url(CodeStats.Endpoint, :render_reset, @token) %>"><%= auth_url(CodeStats.Endpoint, :render_reset, @token) %></a>
</p>

<p>
  This link is valid for <%= CodeStats.User.PasswordReset.token_max_life() %> hours.
</p>

<p>
  If you did not request a password reset, you can ignore this email.
</p>
