#profile-total-container {
  display: grid;
  grid-template: 'username'
                 'total-progress'
                 'profile-details'
                 / auto;
  grid-gap: 0;

  @media #{$md} {
    grid-template: 'username         total-progress'
                   'profile-details  total-progress'
                   / auto;
    align-items: center;
  }

  >#profile-username {
    grid-area: username;

    margin-bottom: 0;
    margin-top: 5px;
  }

  >#profile-detail-list {
    grid-area: profile-details;

    list-style-type: none;
    padding-left: 0;
  }

  >#total-progress {
    grid-area: total-progress;

    >h2 {
      margin-top: 0;
    }
  }
}

#main-stats-container {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;

  .main-info-graphs {
    width: 100%;
    display: grid;
    grid-template: 'week-l'
                   'top-l'
                   'hour-x'
                   'other-l'
                   'top-m'
                   'year-x'
                   / auto;
    grid-gap: 20px;

    @media #{$md} {
      grid-template: 'load    load'
                     'week-l  week-l'
                     'top-l   top-l'
                     'hour-x  hour-x'
                     'other-l top-m'
                     'year-x  year-x'
                    / 1fr     1fr;
    }

    .loading-indicator {
      grid-area: load;
      width: 100%;
    }
  }
}
