<div class="stripe">
  <h1>Sign up with <%= @provider %></h1>
  <%= form_for(@changeset, auth_path(@conn, :oauth_signup, @provider), fn f -> %>
    <%= hidden_input(f, :token, value: @token) %>

    <label for="user_username">Username</label>
    <div class="input">
      <span><%= @changeset.changes.username %></span>
    </div>

    <label for="user_email">Email address</label>
    <div class="input">
      <span><%= @changeset.changes[:email] %></span>

      <p class="help-block">
        Email is only used for important notifications about the service, not for promotions or spam.
      </p>
    </div>

    <p class="description">
      When registering, you accept that you have read, understood and accepted the <a href="<%= page_path(@conn, :terms) %>" target="_blank">Terms of Service and Privacy policy</a>.
    </p>

    <div class="submit">
      <%= submit("Register!") %>
    </div>
  <% end) %>
</div>
